Dictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Filename: Dictionary.xsd -->
<!-- Author: Albin Engström -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:annotation>
  <xsd:documentation>
    A list of words.
  </xsd:documentation>
</xsd:annotation>

<xsd:element name="Dictionary">

  <xsd:simpleType>
    <xsd:element name="Language" type="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType>
    <xsd:element name="Author" type="xsd:string"/>
  </xsd:simpleType>

</xsd:element>
